<div class="layout">
  <div class="side-bar">
    <h3>Ag grid demo</h3>
    <ul>
      <li>
        <a routerLink="/base-grid" routerLinkActive="active">Base grid</a>
      </li>
      <li>
        <a routerLink="/grid-with-selection" routerLinkActive="active">Grid selection</a>
      </li>
      <li>
        <a routerLink="/infinite-scroll" routerLinkActive="active">Infinite scroll</a>
      </li>
      <li>
        <a routerLink="/grid-filters" routerLinkActive="active">Grid filters</a>
      </li>
    </ul>

  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
